.InputWrapper {
    display: flex;
}

.placeholder {
    margin-right: 5px;
}

.input {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
    outline: none;
    width: 100%;

    &:focus {
        outline: none;
    }
}

.innerWrapper {
    flex-grow: 1;
}
