.app.light{
  --bg-color: #F3B0B0FF;
  --inverted-bg-color: #1e1e4d;

  --primary-color: #1c0133;
  --secondary-color: #070007;

  --inverted-primary-color: #d234c5;
  --inverted-secondary-color: #faa5f8;
}